body {
    background-color: #FFFFFF;
    margin: auto;
}

.menu {
    height: 80px;
}
.menu ul{
    margin-left: 10%;
    margin-right: 10%;
    list-style: none;
    color: #464243;
}
.menu li{
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    font-family: Circe;
    font-style: normal;
    color: #333333;
}
.menu__logo{
    padding-right: 10px;
}
.menu__title{
    padding-right: 135px;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
}
.menu__item{
    padding-right: 60px;
    font-size: 16px;
    line-height: 22px;
}
.menu__call{
    padding-left: 52px;
    padding-right: 30px;
    color: #333333;
    font-size: 18px;
    line-height: 24px;
}
/*КНОПКА НЕ ТРОГАТЬ*/
.menu__button{
    height: 40px;
    width: 130px;
    background-color: #FAFAFA;
    border-radius: 20px;
    text-decoration: none;
    appearance: none;
    border: 0;
}

.menu__button>*{
    font-family: Circe;
    font-style: normal;
    display: inline;
    vertical-align: middle;
    color: #333333;
}

.menu__button__userimg{
    display: inline-block;
    height: 24px;
    padding-right: 11px;
}
.menu__button__title{
    font-size: 16px;
    line-height: 22px;
}
/*По кнопке всё*/

.event{
    /*background: linear-gradient(deg, #A3B25A, #9DAB53);*/
    background-color: #9dab52;
    height: 500px;
    width: 1370px;
    border-radius: 20px;
    margin-top: 30px;
    margin-left: 5%;
    display: grid;
    grid-template-columns: 41% 5% 49%;
}
.event h1{
    color: white;
    width: 460px;
    font-family: TT Norms;
    font-weight: bold;
    font-size: 48px;
    line-height: 57px;
    
}
.event p{
    color: #F0F1EE;
    font-family: Circe;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}
.event__text{
    padding-left: 70px;
    display: grid;
    grid-template-rows: 20% 40% 20% 20%;
}
.event__text__title{
    width: 74px;
    height: 20px;
    background-color: #FF794F;
    border-radius: 5px;
    text-align: center;
    font-family: Circe;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: white;
    padding: 5px 12px;
    text-align: center;
    vertical-align: middle;
    margin-top: 40px;
}
.event__img{
    padding-left: 190px;
    border-radius: 0px 20px 20px 0px;
    
}

.event__button a{
    text-decoration: none;
    font-family: Circe;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    display: inline-block;
    margin-right: 20px;
}
.event__button1{
    background-color: white;
    color: #333333;
        border: 2px white solid;
    padding: 18px 72px;
    border-radius: 134px;
    font-weight: bold;
}
.event__button2{
    background-color: transparent;
    color: white;
     border: 2px #ced5a9 solid;
    box-sizing: border-box;
    padding: 18px 72px;
    filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.1));
    border-radius: 134px;
}

.stickers{
    position: absolute;
}
#stickers1{
    margin-left: 818px;
    margin-top: -500px;
}
#stickers2{
    margin-left: 868px;
    margin-top: -340px;
}
#stickers3{
    margin-left: 778px;
    margin-top: -200px;
}
/*Как это работает (дейтсвительно)*/
.how {
    display: grid;
    margin-top: 80px;
    margin-left: 167px;
    grid-template-columns: repeat(4, 25%) 
}
.hw{
    font-family: TT Norms;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 57px;
    align-items: center;
    text-align: center;
    color: #333333;
}
.how h2{
    font-family: Circe;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #131315;
}
.how p, .hwh2{
    font-family: Circe;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #6D7077;

}
.hwh2{
    margin-bottom: 30px;
}
.how__item{
    text-align: center;
    align-items: center;
    width: 232px;
    margin-top: 28px;
    margin-bottom: 102px;
}
/*меню*/
.menuch{
    padding-top: 80px;
    height: 700px;
    background: #F9FCF9;
    display: grid;
    grid-template-columns: 370px 370px 370px;
    grid-column-gap: 30px;
    margin-left: 11%;
}
.bg{
    background: #F9FCF9;
    padding-top: 20px;
}
.menuch__btns{
    margin-bottom: 25px;
    margin-left: 251px;
}
.menuch__btns__item{
    width: 174px;
    height: 50px;
    font-family: Circe;
    font-size: 18px;
    line-height: 24px;
    display: inline-block;
    margin-right: 20px;
    background-color: transparent;
    color: #A1A75C;
        border: 1px #CECFCD solid;
   border-radius: 74px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    
}
.menuch__btns__item span{
    position: relative;
    top: 13px;
}
.menuch__btns__item:first-child{
    background-color: #A1A75C;
    border: 1px #A1A75C solid;
    color: #FFFFFF;
}
            .menuch__item{
                width: 370px;
                height: 480px;
                background-color: #FFFFFF;
                box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.06);
                border-radius: 8px;
                padding-right: 0px;
            }
            .menuch__item img{
                border-radius: 8px 8px 0px 0px;
                
            }
            .menu__item__time{
                position: absolute;
                width: 57px;
                border-radius: 5px;
                text-align: center;
                font-family: Circe;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 22px;
                color: white;
                padding: 4px 0px;
                text-align: center;
                vertical-align: middle;
                margin-top: 12px;
                background: linear-gradient(0deg, #A1A75C, #A1A75C), #65BF4F;
                margin-left: 301px;
                margin-bottom: 0px;
            }
.menu__item__hash{
    padding: 3px 8px;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.03);
    border-radius: 4px;
    display: inline-block;
    font-family: Circe;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #6D7077;
    background-color: #F0F1EE;
    margin-right: 10px;
}
.menuch h3{
    font-family: Circe;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 24px;
color: #333333;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 15px;
}
.menu__item__info{
    display: inline;
}
.menu__item__info1{
    font-family: Circe;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
color: #646365;
    vertical-align: middle;
    margin-left: 21px;
}
#ready{
    margin-left: 40px;
}
.menu__item__info1>*{
    vertical-align: middle;
    display: inline;
    margin-right: 10px;
}
.menu__item__info2{
font-family: Circe;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
color: #646365;
}
.menuch hr{
    margin-left: 20px;
    margin-right: 20px;
    color: #DDDEDB;
    width: 330px;
    opacity: 0.7;
    margin-top: 15px;
}
.menu__item__choose {
    font-family: Circe;
font-style: normal;
font-weight: normal;
font-size: 18px;
color: #646365;
    vertical-align: middle;
    display: inline-block;
    margin-left: 22px;
}
.menu__item__choose>*
{
display: inline-block;
    vertical-align: middle;
}
.menu__item__choose p{line-height: 22px; display: inline-block;}
/*footer*/
.footer{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 40px;
    display: grid;
    grid-template-columns: 249px 158px 238px 267px 270px;
    font-family: Circe;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #464243;
}
.foorer__item1{
    margin-right: 64px;
}
.foorer__item2{
    margin-right: 46px;
}
.foorer__item3{
    margin-right: 66px;
}
.foorer__item4{
    margin-right: 75px;
}
.footer h3{
    font-family: Circe;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 24px;
color: #131315;
}
.footer__submit{
    height: 40px;
    width: 40px;
    border-radius: 60px;
    text-align: center;
    vertical-align: middle;
    background: linear-gradient(0deg, #A1A75C, #A1A75C), #65BF4F;
    display: inline-block;
    cursor: pointer; 
    margin-left: 6px;
}
.footer__submit__svg{
    padding-top: 13.3px;
}
.footer form{
    width: 270px;
    padding: 2px 0px 2px 2px;
    border: 1px solid #CDCFD5;
    border-radius: 66px;
}
.footer__input{
    width: 196px;
    border: none;
    padding-left: 20px;
    font-family: Circe;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #878786;
}

input, textarea {
    outline:none;
}
input:active, textarea:active {
    outline:none;
}
:focus {
    outline:none;
}
textarea {resize:none;}
textarea {resize:vertical;}
textarea {resize:horizontal;}

.footer__img{
    height: 40px;
    display: inline-block;
    margin-right: 15px;
    margin-top: 20px;
    border: 1px #F0F1EE solid;
    border-radius: 24px;
    cursor: pointer; 
}
#fb{
    height: 20px;
    padding: 10px 15px 10px 15px;
}
#vk{
    height: 12px;
    padding: 14px 9px 14px 10px;
}

#inst{
    height: 19px;
    padding: 11px 10px 10px 11px;
}