body {
    background-color: #FFFFFF;

}

.menu {
    height: 80px;
}
.menu>p{
     display: inline-block;
    font-family: Circe;
    font-style: normal;
    font-weight: 400;
    color: #333333;
    
}
.menu__logo{
    height: 70px;
    margin-top: 5px;
    margin-left: 135px;
}
.menu__title{
    line-height: 20px;
    font-size: 14px;
}

.menu__item{
    line-height: 22px;
    font-size: 16px;
}

.menu__call{
    font-weight: 700;
    line-height: 24px;
    font-size: 18px;
}

.menu__button{
    height: 40px;
    width: 130px;
    background-color: #FAFAFA;
    border-radius: 20px;
    text-decoration: none;
    appearance: none;
    border: 0;
}
.menu__button>*{
    display: inline;
}

.menu__button__userimg{
    height: 24px;
    top: 10px;
    left: 25px;
    padding-right: 11px;
}
.menu__button__title{
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
}