body {
    background-color: #FFFFFF;
    margin: auto;
}

.menu {
    height: 80px;
}
.menu ul{
    margin-left: 10%;
    margin-right: 10%;
    list-style: none;
    color: #464243;
}
.menu li{
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    font-family: Circe;
    font-style: normal;
    color: #333333;
}
.menu__logo{
    padding-right: 10px;
}
.menu__title{
    padding-right: 135px;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
}
.menu__item{
    padding-right: 60px;
    font-size: 16px;
    line-height: 22px;
}
.menu__call{
    padding-left: 52px;
    padding-right: 30px;
    color: #333333;
    font-size: 18px;
    line-height: 24px;
}
/*КНОПКА НЕ ТРОГАТЬ*/
.menu__button{
    height: 40px;
    width: 130px;
    background-color: #FAFAFA;
    border-radius: 20px;
    text-decoration: none;
    appearance: none;
    border: 0;
}

.menu__button>*{
    font-family: Circe;
    font-style: normal;
    display: inline;
    vertical-align: middle;
    color: #333333;
}

.menu__button__userimg{
    display: inline-block;
    height: 24px;
    padding-right: 11px;
}
.menu__button__title{
    font-size: 16px;
    line-height: 22px;
}
/*По кнопке всё*/

.event{
    background-color: 
}